<% if (val !='' ){ %>
  <!-- 引数のJSON形式のテキストをパース（取り出す）処理をして、オブジェクトに生成した後返却している -->
  <% var obj=JSON.parse(val); %>
    <tr>
      <th>
        <%= obj.id %>
      </th>
      <td>
        <%= obj.msg %>
      </td>
    </tr>
<% } %>